/* Global styles */
*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 90vw;
    margin: auto;
}


.head-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: fit-content;
}

.head-left-name {
    font-size: 24px;
    font-weight: 700;
    text-wrap: nowrap;
}

.head-left-badges {
    margin-top: 5px;
    display: flex;
   gap: 5px;
}
.green-badge{
    background-color: #436409;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    left: 20px;
    padding: 4px 11px;
    text-transform: uppercase;
    top: 20px;
    width: fit-content;
    text-wrap: nowrap;
  }

  .grey-badge{
    background-color: #6a6a6a;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    left: 20px;
    padding: 4px 11px;
    text-transform: uppercase;
    text-wrap: nowrap;
    width: fit-content;
  }

  .red-badge{
    background-color: #c80225;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    left: 20px;
    padding: 4px 11px;
    text-transform: uppercase;
    top: 20px;
  }
  .location{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 3px;
    text-wrap: nowrap;
  }

.head-right .price {
    font-size: 24px;
    font-weight: bold;
    color: #000; /* red */
}

.head-right-badges {
    margin-top: 5px;
}
.rera-no{
     color: #6a6a6a;
     font-size: 12px;
     margin-top: 5px;
 
}

/* Banner styles */
.banner {
 width: 100%;
 margin: auto;

}

.banner .img {
    width: 100%;
}
.banner .img img{
    width: 100%;
   
}

/* Amenities styles */

.amenities-heading{
    display: flex;
    align-items: center;
    z-index: 10;
    position: absolute;
    top:-6px;
    left:50%;
    transform:translateX(-50%);
}
.amenities-btn{
    border: 2px solid #1419a6;
    background-color: #1419a6; 
    color: #fff;
    padding: 10px;
    margin: auto;
    margin-top: -28px;
    margin-bottom: -28px;
    font-size: 1.2rem;
    font-weight: 500;
 
}
.amenities {
    position: relative;
    margin-bottom: 20px;
    background-color: #070a65; /* blue */
    padding: 18px;
    color: #fff; /* white text */
}

.amenities-title {
    margin-right: 5px;
    padding-right: 10px;
    line-height: 40px;
    border-right:2px solid  #fff;
}
.amenities-list {
   margin-top: 10px;
   font-size: 22px;
 
}




/* Details styles */
.details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 30px;
}

.details-left{
    flex: 2;
    display: flex;
    flex-direction: column;
}
.details-right {
    flex: 1;
   
}
.details-right form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    gap: 12px;
}
.details-right form input,textarea,select{
  padding: 10px 10px;
  outline: none;
  border: 2px solid#ced4e9d9;
  box-shadow: 1px 1px 5px #ced4e9d9;
  border-radius: 7px;
  font-size: 22px;
  color: #818181;

}
.details-right form textarea{
    font-size: 23px;
    color: #818181;
}

.details-right form label{
    margin-top: -15px;
    font-weight: 600;
}
.details-right form label input{
    margin-right: 10px;
}
.details-right form label span{
 color: #246fcb;
}

.details-right form button{
    padding: 15px 5px;
    border-radius: 5px;
    border:none;
    outline: none;
    background-color: #24830a;
    color: #ffffff;
    font-size: 19px;
    font-weight: 600;
}
.left-section{
    display: block;
}
.left-section > h1{
    font-size: 30px;
    text-align: center;
    color: #070a65;
    background-color: #e6eaf7cc;
    padding: 5px 10px;
    width: fit-content;  
}
.apartments {
    margin-top: 10px;
    display: flex;
    justify-items:center;
}

.apartment-div {
    display: block;
    margin-right: 10px;
    border-radius: 5px;
    border: 3px solid #ced4e9d9;
    box-shadow: 1px 2px 5px #ced4e9d9;
    width: 50%;
}
.apartment-div .apart-heading{
    color: #070a65;
    background-color: #e6eaf7cc;
    font-size:30px; 
    padding: 10px; 
   
}
.apart-heading h6 span{
    color: #6b6b6d;
    font-weight: 400;
}
.apart-area, .apart-price{
    margin: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
}
.apart-price span span{
    color: #246fcb;
    font-size: 15px;
}
.apart-area span:nth-child(1){
   font-size: 17px;
}
.apart-area span{
    color: #6b6b6d;
}
.apart-area span b{
 color: rgba(31, 31, 31, 0.9);
}

.location-advantages {
    margin-top: 30px;

}
.location-advantages h1{
    color: #070a65;
}
.location-advantages h1 span{
    color: #767676;
}
.location-advantages ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;

    list-style: none;
    font-size: 25px;
    color: #878686;
    font-weight: 600;
}
.google-map{
    width: 94%;
    margin: auto;
}
.google-map iframe{
    width: 100%;
    height: 400px;
}

/* Footer styles */
.footer {
    margin-top: 1px;
    background-color: #070a65; /* blue */
    color: #fff; /* white text */
    padding: 20px;
}
 .phn-img {
    display: flex;
    justify-content: end;
   position: fixed;
   right: 30px;
   bottom: 50px;
   width: 60px;
}
.phn-img img{
    background: #f0f0f0;
    border-radius: 50%;
    width: 100%;

}



    @media only screen and (max-width: 640px) {
        
        .head-right .price {
            font-size: 20px;
        }
       .details .details-left{
        flex-direction: column;
       }
       .rera-no{
       text-align: right;
       }
     .location{
        text-wrap: wrap;
     }
       .apartment-div{
        width:100%;
        
       }
       .apartments{
        flex-direction: column;
        gap: 20px;
       }
       .amenities-list {
        font-size: 15px;
        padding:0;
       }
       .amenities-title {
        line-height: 25px;
       }
       .left-section > h1{
        font-size: 22px;
        margin: auto;
       }
       .apartment-div .apart-heading{
        font-size: 22px;
        text-align: center;

       }
       .location-advantages h1{
        font-size: 25px;
      
       }
       .location-advantages h1 span{
        font-size: 23px;
        display: block;
       }
       .location-advantages {
            width: fit-content;
            margin:20px auto;
       }
       .location-advantages ul{
        font-size: 20px;
       }
       .phn-img{
        width:50px;
       }
     
    }



    @media only screen and (max-width: 768px) {
      .details{
        flex-direction: column;
      }
      .head-left-badges{
        flex-direction: column;
      }
      
    }



    @media only screen and (max-width: 1024px) {
     
    }



    @media only screen and (max-width: 1280px) {
       
    }


    @media only screen and (max-width: 1536px) {
      
    }
